@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --player-height: 100px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Estilos para enlaces dentro del contenido de los artículos */
.prose a,
.prose-xl a {
  color: #3b82f6; /* Un azul de Tailwind (blue-500) */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.prose a:hover,
.prose-xl a:hover {
  color: #facc15; /* Un amarillo de Tailwind (yellow-400) */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .break-inside-avoid {
    break-inside: avoid;
  }
}
